<div class="flex flex-col items-center p-6">
  <div
    class="text-gray-500 text-xl font-semibold rounded-md flex justify-between items-center p-4 w-full"
  >
    <h2 class="drop-shadow-lg">
      Next Alarm at {{ soonestAlarm | date: 'shortTime' }}
    </h2>
    <button
      class="font-bold px-4 py-2 bg-gray-200 rounded-3xl"
      (click)="addAlarm()"
    >
      +
    </button>
  </div>

  <div class="grid gap-4 w-full mt-8 overflow-y-hidden">
    @for (alarm of alarms; track $index) {
    <app-alarm-card [alarm]="alarm" (remove)="removeAlarm(alarm)">
    </app-alarm-card>
    }
  </div>
  @if(showAddPopup()){<app-popup
    class="m-auto"
    [(showPopup)]="this.showAddPopup"
  ></app-popup
  >}
</div>
