<div
  [style.filter]="(!showAddPopup())? 'none': 'blur(2px)'"
  class="relative flex flex-col items-center mb-16 p-6 bg-gray-50 rounded-es-3xl rounded-ee-3xl overflow-y-hidden"
>
  <div
    class="text-gray-500 text-xl font-semibold flex justify-between items-center px-9 w-full fixed top-0 h-[8vh] z-50 bg-gray-50"
  >
    <h2
      class="drop-shadow-lg"
      [style.visibility]="(alarms.length>0)? 'visible': 'hidden'"
    >
      Next Alarm at : {{ soonestAlarm }}
    </h2>

    <button
      class="font-bold px-4 py-2 bg-gray-200 rounded-3xl trigger"
      (click)="showPopup()"
    >
      +
    </button>
  </div>
  @if (alarms.length>0) {
  <div class="w-full py-14 overflow-scroll px-2 h-[88vh]">
    @for (alarm of alarms; track $index) {
    <app-alarm-card [alarm]="alarm" (remove)="removeAlarm(alarm)">
    </app-alarm-card>
    }
  </div>

  } @else if (alarms.length==0) {
  <h3 class="text-xl mt-16">you didn't set any alarm yet!</h3>
  }
</div>
<app-popup
  (userSelectedTime)="handleUserSelectTime($event)"
  class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 bg-white rounded-lg shadow-lg transition-transform duration-300 scale-0"
  [class.scale-100]="showAddPopup()"
  [(showPopup)]="showAddPopup"
  [style.visibility]="(showAddPopup()) ? 'visible' : 'visible'"
>
</app-popup>
