<div
  class="popup flex flex-col gap-5 justify-center items-center p-4 bg-gray-100 rounded-xl shadow-md"
>
  <h2 class="font-bold text-4xl text-gray-600">Set Alram</h2>
  <div class="flex gap-2 justify-around items-center">
    <input
      class="font-bold text-gray-600 text-4xl w-2/4"
      type="time"
      value="12:00"
    />
  </div>
  <div class="flex justify-evenly items-center w-full gap-20">
    <button
      class="w-20 py-2 bg-red-500 rounded-2xl text-xl text-gray-100 font-bold"
      (click)="togglePopup()"
    >
      Close
    </button>
    <button
      class="py-2 w-20 bg-blue-400 rounded-2xl text-xl text-gray-100 font-medium"
      (click)="getAlarmTime()"
    >
      Ok
    </button>
  </div>
</div>
